@import "./style/variables.less";

@import "./RetroMainPage/RetroMainPage.less";
@import "./ControlPanel/ControlPanel.less";
@import "./ColumnContainer/ColumnContainer.pl.less";
@import "./ColumnContainer/Column/Column.less";
@import "./ColumnContainer/Card/Card.less";

html {
  font-size: @font-size;
}

body {
  background-color: @color-1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.set-0 {
  background-color: #f2adad;
  border: 0.2rem solid #c47a7a;
}

.set-1 {
  background-color: #6692d9;
  border: 0.2rem solid #4b5989;
}

.set-2 {
  background-color: #d96666;
  border: 0.2rem solid #903939;
}

.set-3 {
  background-color: #d9c766;
  border: 0.2rem solid #837a07;
}

.set-4 {
  background-color: #66d96c;
  border: 0.2rem solid #07830d;
}
